<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rva.mrb.vivify">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".AlarmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.Alarm.AlarmActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Detail.DetailActivity"
            android:label="NewAlarmActivity"
            android:parentActivityName=".View.Alarm.AlarmActivity"/>
        <activity
            android:name=".View.Search.SearchActivity"
            android:label="SearchActivity">

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".View.Detail.DetailActivity"/>
        </activity>
        <activity
            android:name=".View.Wake.WakeActivity"
            android:label="@string/title_activity_alert"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".View.Login.LoginActivity"
            android:label="LoginActivity">
        </activity>
        <activity
            android:name=".View.Settings.SettingsActivity"
            android:label="SettingsActivity">
        </activity>
        <receiver android:name=".Model.Service.WakeReceiver"/>
        <receiver android:name=".Model.Service.AlarmScheduler"/>

        <receiver android:name="onBoot.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!--<category android:name="android.intent.category.HOME" />-->
            </intent-filter>
        </receiver>
        <service android:name=".Model.Service.WakeService"
            android:enabled="true"
            android:exported="false">
        </service>
    </application>

</manifest>